build/
builddir/
~*
*~
.flatpak-builder/
repo/
.vscode/
generate_stylesheets.sh
.gitignore
.flatpak/
.potrans
.editorconfig
oldpng/
deploy/
third_party/elementary-stylesheet/node_modules/
data/elementary/*.css.map
